/**
 * prism.js Funky theme
 * Based on “Polyfilling the gaps” talk slides http://lea.verou.me/polyfilling-the-gaps/
 * @author Lea Verou
 * Patched by Jakub T. Jankiewicz to fit jQuery Terminal
 */

.terminal .token.comment,
.cmd .token.comment,
.terminal .token.prolog,
.cmd .token.prolog,
.terminal .token.doctype,
.cmd .token.doctype,
.terminal .token.cdata,
.cmd .token.cdata {
  --color: rgba(66.667%, 66.667%, 66.667% , 0.997);
}

.terminal .token.punctuation,
.cmd .token.punctuation {
  --color: rgba(60%, 60%, 60% , 0.997);
}

.terminal .token.namespace,
.cmd .token.namespace {
  opacity: .7;
}

.terminal .token.property,
.cmd .token.property,
.terminal .token.tag,
.cmd .token.tag,
.terminal .token.boolean,
.cmd .token.boolean,
.terminal .token.number,
.cmd .token.number,
.terminal .token.constant,
.cmd .token.constant,
.terminal .token.symbol,
.cmd .token.symbol {
  --color: rgba(0%, 80%, 100% , 0.997);
}

.terminal .token.selector,
.cmd .token.selector,
.terminal .token.attr-name,
.cmd .token.attr-name,
.terminal .token.string,
.cmd .token.string,
.terminal .token.char,
.cmd .token.char,
.terminal .token.builtin,
.cmd .token.builtin {
  --color: rgba(100%, 100%, 0% , 0.997);
}

.terminal .token.operator,
.cmd .token.operator,
.terminal .token.entity,
.cmd .token.entity,
.terminal .token.url,
.cmd .token.url,
.terminal .language-css .token.string,
.cmd .language-css .token.string,
.terminal .token.variable,
.cmd .token.variable,
.terminal .token.inserted,
.cmd .token.inserted {
  --color: rgba(60.392%, 80.392%, 19.608% , 0.997);
}

.terminal .token.atrule,
.cmd .token.atrule,
.terminal .token.attr-value,
.cmd .token.attr-value,
.terminal .token.keyword,
.cmd .token.keyword {
  --color: rgba(100%, 7.8431%, 57.647% , 0.997);
}

.terminal .token.regex,
.cmd .token.regex,
.terminal .token.important,
.cmd .token.important {
  --color: rgba(100%, 64.706%, 0% , 0.997);
}

.terminal .token.important,
.cmd .token.important,
.terminal .token.bold,
.cmd .token.bold {
  font-weight: bold;
}

.terminal .token.italic,
.cmd .token.italic {
  font-style: italic;
}

.terminal .token.entity,
.cmd .token.entity {
  cursor: help;
}

.terminal .token.deleted,
.cmd .token.deleted {
  --color: rgba(100%, 0%, 0% , 0.997);
}
.token {
	 color: var(--color);
	background: var(--background);
	--original-color: var(--color);
}
