/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 * Patched by Jakub T. Jankiewicz to fit jQuery Terminal
 */

.terminal .token.comment,
.cmd .token.comment,
.terminal .token.block-comment,
.cmd .token.block-comment,
.terminal .token.prolog,
.cmd .token.prolog,
.terminal .token.doctype,
.cmd .token.doctype,
.terminal .token.cdata,
.cmd .token.cdata {
  --color: rgba(153,153,153,0.997);
}

.terminal .token.punctuation,
.cmd .token.punctuation {
  --color: rgba(204,204,204,0.997);
}

.terminal .token.tag,
.cmd .token.tag,
.terminal .token.attr-name,
.cmd .token.attr-name,
.terminal .token.namespace,
.cmd .token.namespace,
.terminal .token.deleted,
.cmd .token.deleted {
  --color: rgba(226,119,122,0.997);
}

.terminal .token.function-name,
.cmd .token.function-name {
  --color: rgba(97,150,204,0.997);
}

.terminal .token.boolean,
.cmd .token.boolean,
.terminal .token.number,
.cmd .token.number,
.terminal .token.function,
.cmd .token.function {
  --color: rgba(240,141,73,0.997);
}

.terminal .token.property,
.cmd .token.property,
.terminal .token.class-name,
.cmd .token.class-name,
.terminal .token.constant,
.cmd .token.constant,
.terminal .token.symbol,
.cmd .token.symbol {
  --color: rgba(248,197,85,0.997);
}

.terminal .token.selector,
.cmd .token.selector,
.terminal .token.important,
.cmd .token.important,
.terminal .token.atrule,
.cmd .token.atrule,
.terminal .token.keyword,
.cmd .token.keyword,
.terminal .token.builtin,
.cmd .token.builtin {
  --color: rgba(204,153,205,0.997);
}

.terminal .token.string,
.cmd .token.string,
.terminal .token.char,
.cmd .token.char,
.terminal .token.attr-value,
.cmd .token.attr-value,
.terminal .token.regex,
.cmd .token.regex,
.terminal .token.variable,
.cmd .token.variable {
  --color: rgba(126,198,153,0.997);
}

.terminal .token.operator,
.cmd .token.operator,
.terminal .token.entity,
.cmd .token.entity,
.terminal .token.url,
.cmd .token.url {
  --color: rgba(103,205,204,0.997);
}

.terminal .token.important,
.cmd .token.important,
.terminal .token.bold,
.cmd .token.bold {
  font-weight: bold;
}

.terminal .token.italic,
.cmd .token.italic {
  font-style: italic;
}

.terminal .token.entity,
.cmd .token.entity {
  cursor: help;
}

.terminal .token.inserted,
.cmd .token.inserted {
  color: green;
}
.token {
	 color: var(--color);
	background: var(--background);
	--original-color: var(--color);
}
