/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 * Patched by Jakub T. Jankiewicz to fit jQuery Terminal
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */

pre[class*="language-"] {
  position: relative;
  margin: .5em 0;
  overflow: visible;
  padding: 1px;
}

pre[class*="language-"] > code {
  position: relative;
  z-index: 1;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
  --background-color: rgba(253,253,253,0.997);
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}

code[class*="language-"] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  --background-color: rgba(253,253,253,0.997);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  --color: rgba(201,44,44,0.997);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0px 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.terminal .token.comment,
.cmd .token.comment,
.terminal .token.block-comment,
.cmd .token.block-comment,
.terminal .token.prolog,
.cmd .token.prolog,
.terminal .token.doctype,
.cmd .token.doctype,
.terminal .token.cdata,
.cmd .token.cdata {
  --color: rgba(125,139,153,0.997);
}

.terminal .token.punctuation,
.cmd .token.punctuation {
  --color: rgba(95,99,100,0.997);
}

.terminal .token.property,
.cmd .token.property,
.terminal .token.tag,
.cmd .token.tag,
.terminal .token.boolean,
.cmd .token.boolean,
.terminal .token.number,
.cmd .token.number,
.terminal .token.function-name,
.cmd .token.function-name,
.terminal .token.constant,
.cmd .token.constant,
.terminal .token.symbol,
.cmd .token.symbol,
.terminal .token.deleted,
.cmd .token.deleted {
  --color: rgba(201,44,44,0.997);
}

.terminal .token.selector,
.cmd .token.selector,
.terminal .token.attr-name,
.cmd .token.attr-name,
.terminal .token.string,
.cmd .token.string,
.terminal .token.char,
.cmd .token.char,
.terminal .token.function,
.cmd .token.function,
.terminal .token.builtin,
.cmd .token.builtin,
.terminal .token.inserted,
.cmd .token.inserted {
  --color: rgba(47,156,10,0.997);
}

.terminal .token.operator,
.cmd .token.operator,
.terminal .token.entity,
.cmd .token.entity,
.terminal .token.url,
.cmd .token.url,
.terminal .token.variable,
.cmd .token.variable {
  --color: rgba(166,127,89,0.997);
  background: rgba(255, 255, 255, 0.5);
}

.terminal .token.atrule,
.cmd .token.atrule,
.terminal .token.attr-value,
.cmd .token.attr-value,
.terminal .token.keyword,
.cmd .token.keyword,
.terminal .token.class-name,
.cmd .token.class-name {
  --color: rgba(25,144,184,0.997);
}

.terminal .token.regex,
.cmd .token.regex,
.terminal .token.important,
.cmd .token.important {
  --color: rgba(238,153,0,0.997);
}

.terminal .language-css .token.string,
.cmd .language-css .token.string,
.terminal .style .token.string,
.cmd .style .token.string {
  --color: rgba(166,127,89,0.997);
  background: rgba(255, 255, 255, 0.5);
}

.terminal .token.important,
.cmd .token.important {
  font-weight: normal;
}

.terminal .token.bold,
.cmd .token.bold {
  font-weight: bold;
}

.terminal .token.italic,
.cmd .token.italic {
  font-style: italic;
}

.terminal .token.entity,
.cmd .token.entity {
  cursor: help;
}

.terminal .token.namespace,
.cmd .token.namespace {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none;
  }
}

/* Plugin styles: Line Numbers */

pre[class*="language-"].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */

pre[class*="language-"][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

pre[data-line] code {
  position: relative;
  padding-left: 4em;
}

pre .line-highlight {
  margin-top: 0;
}
.token {
	 color: var(--color);
	background: var(--background);
	--original-color: var(--color);
}
